body{
    
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}


    
    

h1{
    
 font-size: 50px;

}
.name-highlight{
    color: tomato;
}
h4{
    color: solid black;
}
p{color: grey;}

.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
img{
    width: 100%;
}

.top-banner{
    background-image:url(image/top-banner.png);
background-repeat: no-repeat;
}
section{
    height: 400px;
    padding-bottom: 200px;
}
#find{background-image: linear-gradient(90deg,cyan,rgb(10, 134, 228));}
.link-button{text-decoration: none;
background-image: linear-gradient(45deg, lightsalmon, tomato);
padding: 10px 20px ;
border-radius: 5px;
color: white;
font-weight: bold;

}
.buttom{
    background-image: url(image/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
}
h2{font-size: 30px;}
.ex{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height:250px;
}
.experiences{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    
}
#stack{
    border-left: 7px solid;
border-image: linear-gradient( blue,cyan);
border-image-slice: 1;
}
#sd{
    border-left: 7px solid;
border-image: linear-gradient( 180deg,lightsalmon,tomato);
border-image-slice: 1;
}
.link-button:hover{
   background-color: transparent;
   border: 2px solid red;
   cursor: pointer;
}

footer p{
    text-align: center;
}